.container {
    display: none;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        padding: 30px 5%;
        padding-bottom: 110px;
        background-color: #111;
        overflow-x: scroll;
    }
    
    .container::-webkit-scrollbar {
        display: none;
    }
    
    
    .container img {
        width: 47%;
        object-fit: scale-down;
        filter: drop-shadow(20px 0px 20px #000);
        margin-right: 40px;
    }
    
}