.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    animation: display 1.8s ease-out;
    animation-fill-mode: forwards;
    background-color: #151515;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    }

    .container img {
        object-fit: cover;
    }
    
    
    @keyframes display {
      0% {
        left: 0;
        z-index: 2000;
      }
      50% {
        opacity: 0;
        z-index: 2000;
      }
      100% {
        left: -800px;
        z-index: -2000;
      }
    }  
  